<?xml version="1.0"?>
<robot name="cyberpod">

  <link name="cyberpod/base_link">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
	      <mesh filename="package://segway_sim/URDF/Frame.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <inertial>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value="0.001" />
       <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.4" />
      </geometry>
    </collision>

  </link>

 <joint name="w1_joint" type="fixed">
    <parent link="cyberpod/base_link"/>
    <child link="w1_link" />
    <origin xyz="0 .25 0" rpy="0 0 0" />
  </joint>

  <link name="w1_link" >
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"  iyy="0.001"  iyz="0.0"  izz="0.001" />
    </inertial>

    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://segway_sim/URDF/WheelL.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>

 <joint name="w2_joint" type="fixed">
    <parent link="cyberpod/base_link" />
    <child link="w2_link" />
    <origin xyz="0 -0.25 0" rpy="0 0 0" />
  </joint>

  <link name="w2_link" >
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"  iyy="0.001"  iyz="0.0"  izz="0.001" />
    </inertial>

    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://segway_sim/URDF/WheelR.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>


</robot>